@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1

   
  }
}
/* Navbar.css */
.zz{
  padding-top: 25px;
}
.Tim{
  margin-top: 5px;
  margin-right: 0px;
}
.Tim :hover{
  color: #ff1100;
}
.kq{
  padding-top: 50px;
}

body {
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
button:hover{
  background-color: rgb(105, 105, 134);
}